body {
    background-color: black;
    padding-left: 35px;
    padding-right: 20px;
}
h1 {
    color: white;
    font-size: 46px;
}
.box {
	padding-top: 0.0001%;
	padding-left: 85%;
}


.box a{
	width: 170px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #8CC43B;
	border-radius: 28px;
	box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
	letter-spacing: 2px;
    font-size: 20px;
    color: black;
}
	
.box a:hover{
	letter-spacing: 7px;
	background-color: #92E11E;
	transition: all ease 0.2s;
}
.button {
    position: absolute;
    position: absolute;
	top: 24%;
	left: 76%;
	transform: translate(-50%,-50%);

}
.butn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
    
}

.butn:hover{
	background-color:#fff;
	color: #000;
   
}
p {
    color: white;
    width: 700px;
    letter-spacing: 1px;
    font-size: 20px;
    
}
h2 {
    color: rgb(235, 189, 133);
    padding-left: 40px;
    letter-spacing: 2px;
}
.htp {
    width: 800px;
    image-rendering: auto ;
    
    
}

.more{
	border: 1px solid #fff;
	background: transparent;
	outline: none;
	padding: 8px 18px;
	color: #fff;
	border-radius: 30px;
	margin-top: 20px;
	cursor: pointer;
	font-size: 12px;
	
  }
  .more1 {
	  color: white;
  }
.hrtim {
    width: 400px;
    height :300px;
    position: absolute;
    padding-left: 850px;
    float: top;
    padding-top: 2px;
    
}
.hrtim2 {
    width: 400px;
    height :300px;
    position:absolute;
    padding-left: 300px;
    float: right;
    
    
}
h3{
    color: aquamarine;
    font-size: 25px;
}
li {
    color: burlywood;
    width: 650px;
    font-size: 20px;
    letter-spacing: 1px;
}
.hrtim3 {
    height: 250px;
    padding-right: 27px;
    width: 430px;
}
hrtim4 {
    width: 400px;
    height: 300px;
    float: right;
}
.hrti5 {
    width: 400px;
    height: 250px;
    float: right;

}
.button2 {
    position: absolute;
    position: absolute;
	top: 3670px;
	left: 59%;
	transform: translate(-50%,-50%);
    padding-bottom: 30px;

}
.butn2{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
    
}

.butn2:hover{
	background-color:#fff;
	color: #000;
   
}
.button3 {
    position: absolute;
    position: absolute;
	top: 3670px;
	left: 42%;
	transform: translate(-50%,-50%);
    padding-bottom: 30px;

}
.butn3{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
    
}

.butn3:hover{
	background-color:#fff;
	color: #000;
   
}
.button4 {
    position: absolute;
    position: absolute;
	top: 24%;
	left: 60%;
	transform: translate(-50%,-50%);

}
.butn4{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
    
}

.butn4:hover{
	background-color:#fff;
	color: #000;
   
}
.hrtim7 img {
    height: 150px;
}
